name: Docker tag

on:
  push:
    tags:
      - '*.*.*'

jobs:
  build-latest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: install buildx
        id: buildx
        uses: crazy-max/ghaction-docker-buildx@v1
      - name: Login to DockerHub Registry
        run: echo '${{ secrets.DOCKERHUB_PASSWORD }}' | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build the latest Docker image
        run: docker buildx build --push --tag flavienperier/eco-webserver:latest --platform linux/amd64,linux/arm/v7,linux/arm64/v8 .

  build-tag:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to DockerHub Registry
      run: echo '${{ secrets.DOCKERHUB_PASSWORD }}' | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
    - name: Build the tagged Docker image
      run: docker buildx build --push --tag flavienperier/eco-webserver:${GITHUB_REF#refs/*/} --platform linux/amd64,linux/arm/v7,linux/arm64/v8 .
